.form_sidepic {
    width: 20%;
    height: 100%;
    background: url(https://picsum.photos/600/) center no-repeat;
}

.auth_form {
    background-color: white;
    width: 80%;
    padding: 3rem 1rem;
}

.auth_form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.label {
    text-transform: uppercase;
    font-family: 'Roboto';
}

.auth_form input,
.auth_form select {
    width: 60%;
    display: block;
    outline: none;
    margin-top: 0.5rem;
    padding: 1rem;
    border: none;
    background-color: #EDF1F0;
    border-radius: 0.2rem;
}

.auth_form input:focus {
    border: none;
    box-shadow: 0 0 0.2rem #76B2BA;
    transition: box-shadow 0.25s;
}

.error_msg {
    color: red;
    font-size: 0.8rem;
}

.error_input {
    border: solid red 1px !important;
}

.error_input:focus {
    box-shadow: none !important;
}

.auth_btn {
    width: 60%;
    display: block;
    outline: none;
    border: none;
    background-color: #76B2BA;
    border-radius: 100px;
    padding: 0.8rem 1rem;
    margin: 3rem 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.25s;
}

.auth_btn:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.75;
}

.auth_link {
    text-decoration: underline;
    color: #76B2BA;
}

.auth_link:hover {
    opacity: 0.75;
}

.hero {
    /* background-color: #154599; */
    background-color: #779C9A;
    margin: 0;
    padding: 5rem 0;
}

.container h1 {
    margin-top: 0;
    color: white;
    
}

.container p {
    color: #E5CAB0;
    line-height: 1.5;
}

.hero__text {
    width: 50%;
}

#authModalOpenBtn {
    color: black;
    display: inline-block;
    background-color: #E5CAB0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 3em;
    outline: none;
    border: none;
    border-radius: 100px;
    margin-top: 1em;
    transition: all 0.25s;
}

#authModalOpenBtn:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s;
}


.content_text {
    margin-top: 4rem;
    width: 25%;
}

.content_text h2 {
    color: #98D0D3;
}

.content_text p {
    color: black;
}