*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.element_hidden {
    visibility: hidden !important;
}

.element_notdisplay {
    display: none !important;
}

a {
    text-decoration: none;
}

nav {
    background-color: #76B2BA;
    user-select: none;
}

nav li {
    list-style: none;
}

.container {
    /*color: ;*/
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_items {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.nav_logo {
    border: solid white 0.2rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.nav_link {
    position: relative;
    margin-right: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.nav_link::before {
    position: absolute;
    top: -0.8rem;
    left: 0;
    display: block;
    content: '';
    background-color: white;
    height: 0.2rem;
    border: white;
    width: 0;
    transition: width 0.5s;
}

.nav_link:hover {
    opacity: 0.75;
}

.nav_link:hover::before {
    width: 100%;
    transition: width 0.5s;
}

.current_page {
    opacity: 0.75;
    pointer-events: none;
}

.current_page::before {
    position: absolute;
    top: -0.8rem;
    left: 0;
    display: block;
    content: '';
    background-color: white;
    height: 0.2rem;
    border: white;
    width: 100%;
    transition: width 0.5s;
}

.nav_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.user_info {
    display: flex;
    align-items: center;
    border: solid white 1px;
    background-color: transparent;
    outline: none;
    font-size: 1.2rem;
    transition: opacity 0.5s;
    color: white;
    padding: 0.5rem 1rem;
}

.logout_btn {
    display: block;
    padding-top: 0.3rem;
    color: white;
    transition: opacity 0.25s;
}

.logout_btn:hover {
    opacity: 0.5;
    transition: opacity 0.25s;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container {
    position: relative;
    width: 40%;
    height: 55%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem white;
}

.modal_close_btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    color: lightgray;
}

.modal_close_btn:hover {
    cursor: pointer;
    color: black;
}

/* .nav_dropdown {
    position: relative;
}

.nav_dropdown__btn span {
    caret-color: transparent;
    vertical-align: middle;
    display: inline-block;
}

.nav_dropdown__btn:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.5s;
}

#nav_dropdown__items {
    border-radius: 0.2rem;
    white-space: nowrap;
    padding: 0.5rem 0;
    position: absolute;
    background-color: white;
    top: 1rem;
    right: 0;
}

.nav_dropdown__link {
    width: 100%;
    padding: 0.25rem 1rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav_dropdown__link:hover {
    background-color: lightgray;
} */

