<link rel="stylesheet" href="/stylesheet/admin.css">

<div class="courses_section">
    <div class="course_container">
        <div class="search_area">
            <div class="search_bar">
                <span class="iconify" data-icon="ant-design:search-outlined"></span>
                <div>
                    <input class="search_input" name="course_id" type="text" placeholder="Search course by course id">
                    <div class="expand_underline"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>