<link rel="stylesheet" href="/stylesheet/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" >
<script src="/javascript/index.js"></script>

<div class="hero">
    <div class="container">
        <div class="hero__text">
            <h1>Make Course Registeration and Management Easy!</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa unde laborum modi reprehenderit, praesentium soluta esse neque accusantium, dolorum commodi inventore quibusdam quae vero sed hic tempora corporis, perferendis cumque.</p>
            <button id="authModalOpenBtn">Start</button>
        </div>

        <img src="https://picsum.photos/300" alt="random_welcome_image">
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="content_text">
            <h2>Cheap</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam facere perspiciatis mollitia iste, minus enim esse porro alias blanditiis quas voluptatem magnam incidunt quae! Non, tenetur unde! Fugit, dolor.</p>
        </div>

        <div class="content_text">
            <h2>Convenient</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam facere perspiciatis mollitia iste, minus enim esse porro alias blanditiis quas voluptatem magnam incidunt quae! Non, tenetur unde! Fugit, dolor.</p>
        </div>

        <div class="content_text">
            <h2>Powerful</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam facere perspiciatis mollitia iste, minus enim esse porro alias blanditiis quas voluptatem magnam incidunt quae! Non, tenetur unde! Fugit, dolor.</p>
        </div>
    </div>
</div>

{{!-- modal for user login and register --}}
<div id="authModal" class="modal element_notdisplay">
    <div class="modal_container">
        <div class="form_sidepic">
        </div>
        <form id="loginForm" class="auth_form">
            <label>
                <span class="label">Username</span>
                <input name="username" id="loginUsername" type="text">
                <span id="loginErrorMsg" class="error_msg element_notdisplay">Incorrect username or password</span>
            </label>

            <label>
                <span class="label">Password</span>
                <input name="password" id="loginPassword" type="password">
            </label>

            <label>
                <span class="label">Identity</span>
                <select name="identity" id="identity">
                    <option value="student">Student</option>
                    <option value="admin">Admin</option>
                </select> 
            </label>
            

            <button id="logInBtn" class="auth_btn">Login</button>

            <span>Don't have an account? <a href="" class="auth_link" id="registerLink">Register</a></span>
        </form>
            
        <form id="registerForm" class="auth_form element_notdisplay">
            <label>
                <span class="label">Username</span>
                <input name="username" id="registerUsername" type="text">
                <span id="registerErrorMsg" class="error_msg element_notdisplay">Username already exists</span>
            </label>

            <label>
                <span class="label">Name</span>
                <input name="name" id="name" type="text">
            </label>

            <label>
                <span class="label">Password</span>
                <input name="password" id="registerPassword" type="password">
            </label>

            {{!-- <label>
                <span class="label">Re-enter Password</span>
                <input name="re-entered_password" id="re-entered_password" type="password">
            </label> --}}

            <button id="registerBtn" class="auth_btn">Register</button>

            <span>Already have an account? <a href="" class="auth_link" id="loginLink">Login</a></span>
        </form>

        <button id="authModalCloseBtn" class="modal_close_btn">
            <span class="iconify" data-icon="carbon:close"></span>
        </button>
    </div>
</div>