<!DOCTYPE html>
<head>
<title>CRS</title>
<link rel="stylesheet" href="/stylesheet/layout.css">
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>
<body>
    {{#if index}}
    {{!-- render navbar for index page --}}
        <header>
            <nav>
                <div class="container">
                    <ul class="nav_items">
                        <li class="nav_item">
                            <a href="/" class="nav_logo">CRS</a>
                        </li>
                        <li class="nav_item">
                            <a href="/" class="nav_link">Home</a>
                        </li>
                        <li class="nav_item">
                            <a href="#" class="nav_link">About</a>
                        </li>
                        <li class="nav_item">
                            <a href="#" class="nav_link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    {{else}}
    {{!-- not in index page --}}
        {{!-- if user is admin --}}
        {{#if admin}}
            <header>
                <nav>
                    <div class="container">
                        <ul class="nav_items">
                            <li class="nav_item">
                                <a href="/admin/course" class="nav_logo">CRS</a>
                            </li>
                            
                            <li class="nav_item">
                                <a href="/admin/course" class="nav_link current_page">Course</a>
                            </li>

                            <li class="nav_item">
                                <a href="/admin/student" class="nav_link">Student</a>
                            </li>
                        </ul>

                        <div class="nav_user">
                            <div class="user_info">
                                <span>User: {{user}}</span>
                            </div>
                        
                            <a href="/api/logout" class="logout_btn">
                                <span class="iconify" data-icon="carbon:logout"></span>
                            </a>
                        </div>
                    </div>
                </nav>
            </header>
        {{else}}
        {{!-- if user is student --}}

        {{/if}}

    {{/if}}

    <div class="main">
        {{{body}}}
    </div>
</body>
</html>